<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.dao.SysAclMapper">
    <resultMap id="BaseResultMap" type="com.wx.domain.entity.SysAcl">
        <!--@mbg.generated-->
        <!--@Table sys_acl-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="acl_module_id" jdbcType="INTEGER" property="aclModuleId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="operate_ip" jdbcType="VARCHAR" property="operateIp"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        code,
        `name`,
        acl_module_id,
        url,
        `type`,
        `status`,
        seq,
        remark,
        `operator`,
        operate_time,
        operate_ip
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wx.domain.entity.SysAcl"
            useGeneratedKeys="true">
        insert into sys_acl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="aclModuleId != null">
                acl_module_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="seq != null">
                seq,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="operateTime != null">
                operate_time,
            </if>
            <if test="operateIp != null">
                operate_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="aclModuleId != null">
                #{aclModuleId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="seq != null">
                #{seq,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null">
                #{operateIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from sys_acl
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="updateById" parameterType="com.wx.domain.entity.SysAcl">
        <!--@mbg.generated-->
        update sys_acl
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="aclModuleId != null">
                acl_module_id = #{aclModuleId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                `operator` = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operateIp != null">
                operate_ip = #{operateIp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByBeanSelective" parameterType="com.wx.domain.entity.SysAcl" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sys_acl
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null">
                and code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and `name` = #{name,jdbcType=VARCHAR}
            </if>
            <if test="aclModuleId != null">
                and acl_module_id = #{aclModuleId,jdbcType=INTEGER}
            </if>
            <if test="url != null">
                and url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and `status` = #{status,jdbcType=INTEGER}
            </if>
            <if test="seq != null">
                and seq = #{seq,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="operator != null">
                and `operator` = #{operator,jdbcType=VARCHAR}
            </if>
            <if test="operateTime != null">
                and operate_time = #{operateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="operateIp != null">
                and operate_ip = #{operateIp,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findListByAclModuleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
        where acl_module_id = #{aclModuleId,jdbcType=INTEGER}
        order by seq desc
        limit #{pageQuery.offset},#{pageQuery.pageSize}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
    </select>
    <select id="findListByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
        where id in (select sys_role_acl.acl_id
                     from sys_role_user
                              join sys_role_acl
                     where sys_role_user.user_id = #{userId}
                       and sys_role_user.role_id = sys_role_acl.role_id)
    </select>
    <select id="getByUrl" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
        where url = #{url}
    </select>
    <select id="findListByUserIdList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
    </select>
    <select id="findListByAclId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_acl
        <where>
            id in
            <foreach collection="collection" item="i" separator="," open="(" close=")">
                #{i}
            </foreach>
        </where>
    </select>

</mapper>
